%section.section.is-hidden-mobile
  %aside.menu
    .menu-label Elements
    %ul.menu-list
      %li= link_to 'Box', '#box'
      %li= link_to 'Button', '#button'
      %li= link_to 'Image', '#image'
      %li= link_to 'Notification', '#notification'
      %li= link_to 'Progress', '#progress'
      %li= link_to 'Table', '#table'
      %li= link_to 'Tag', '#tag'
    .menu-label Components
    %ul.menu-list
      %li= link_to 'Breadcrumb', '#breadcrumb'
      %li= link_to 'Card', '#card'
      %li= link_to 'Dropdown', '#dropdown'
      %li= link_to 'Message', '#message'
      %li= link_to 'Modal', '#modal'
      %li= link_to 'Panel', '#panel'
      %li= link_to 'Tabs', '#tabs'
