%section.section
  .content
    %h2.title Elements
  = render 'components_box'
  = render 'components_button'
  = render 'components_image'
  = render 'components_notification'
  = render 'components_progress'
  = render 'components_table'
  = render 'components_tag'

  .content
    %h2.title Components
  = render 'components_breadcrumb'
  = render 'components_card'
  = render 'components_dropdown'
  = render 'components_message'
  = render 'components_modal'
  = render 'components_panel'
  = render 'components_tabs'
